
html { 
    box-sizing: border-box; 
}

*, ::after, ::before {
    box-sizing: inherit; 
}


body {
    width: 100%;
    justify-content:center;
    display: flex; 
    font-family: 'Montserrat';
    font-size: 16px;
    background-color: #FAFAFA;   
}

.konterjner0 {
    max-width: 1040px; 
    padding-left: 20px;
    padding-right: 20px;
}

.podtrzeni {
    background-color: #407BFF;
    width: 60px;
    height: 2px;
    margin-bottom: 30px;
}

button {
    background-color: #8B8B8B;  
    color: white;
    border: 0;
    border-radius: 20px;
    height: 40px;
    padding: 0 20px;
    margin: 10px 10px 0 10px;
    font-size: 14px;
    display: block;   
}

.vybrany {
    background-color: #407BFF  
}

h1 {
    text-align:center;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 10px;
}

h2 {
    text-align:center;
    font: normal normal medium 16px/21px Montserrat;
    font-size: 16px;
}

.naStred {
    text-align: center;
    margin-bottom: 30px;
}

.nabidka {
    background-color: white;
    margin-bottom: 15px;
    box-shadow: 0px 4px 6px #407BFF1F;
    border-radius: 10px;
    vertical-align:middle;
    height: 80px;
    font-size: 13px;
}



/* === mobil =================================================================================================================================== */

.kontejnerZ {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.kontejnerZ1 {
    order:1;
}

.kontejnerZ2 {
    order:2;
    text-align: left;
}
.kontejnerZ2 h1 {
    text-align: center;
}

.tlacitka {
    display: flex;
    justify-content: center;   
}

.tlacitka2 {
    display: flex;
    justify-content: center;
    flex-direction: column;    
}

.naStred {
    text-align: center;
    margin-bottom: 30px;
}

.center-h {
    display: flex;
    justify-content: center;
}

.podtrzeni {
    margin-left: 0;
}

.kontejner {
    display:inline;
    order:1;
}



.kontejnerA {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.kontejnerA2 {
    order:2;
    height: 172px;
}

.text-o-sluzbe-A {
    order: 1;
}

.kontejnerB {
    display: flex;

    /* height: 191px; */
    flex-direction: column;
    margin-top: 160px;
}

.kontejnerB2 {
    order:2;
    height: 172px;
}

.text-o-sluzbe-B {
    order: 1;
}


.nabidka {
    width: 100%;
    height: 80px;
    margin-right: 20px;
    display:inline-flex;
    vertical-align:bottom; 
}

.nabidka img {
    margin-left: 20px;
    margin-right: 20px;
    width: 45px;
}
.nabidka p {
    margin-top: 32px;
}




/* === tablet =================================================================================================================================== */

@media screen and (min-width: 641px) {

    .kontejnerZ {
        display: flex;
        flex-direction: row;
    }

    .tlacitka {
        display: flex;
        justify-content: center;
        flex-direction: row; 
    }
   
    .tlacitka2 {
        display: flex;
        justify-content: center;
        flex-direction: row;    
    }

    button {
        /* display: inline;  */
    }

    .center-h {
        display: flex;
        justify-content: center;
    }  
    

    .kontejnerA2 {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        justify-content: space-between;
    }

    .kontejnerB2 {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        justify-content: space-between;
    }
    
    .kontejnerB {
        margin-top: 80px;
    }

    .nabidka {
        width: 230px;
        height: 172px;
        margin-right: 20px;
        display: flex;
        order:1;
        flex-direction: column;        
        height: 172px;
    }

    .nabidka img {
        margin-left: 93px;
        margin-top: 40px;
    }

    .nabidka p {
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
    }

    .naStred {
        margin-bottom: 15px;
    }

    .travelerPict {
        content: url("imgs/happy-traveler2.svg");        
    }  

}

/* === desktop =================================================================================================================================== */

@media screen and (min-width: 1100px) {

    .kontejnerZ {
        display: flex;
        height: 332px;
        flex-direction:row;
        flex-wrap:nowrap;
    }

    .kontejnerZ1 {
        order:2;
    }

    .kontejnerZ2 {
        order:1;
        text-align: left;
    }
    .kontejnerZ2 h1 {
        text-align: left;
    }

    .naStred {
        text-align: left;
        margin-bottom: 30px;
    }

    .center-h {
        display: flex;
        justify-content: left;
    }

    .podtrzeni {
        margin-left: 0;
    }

    .tlacitka {
        justify-content: left;
    }

    .nabidka {
        width: 170px;
        height: 190px;
        margin-right: 20px;
        display:inline-flex;
    }

    .nabidka img {
        margin-left: 63px;
    }


    .kontejnerA {
        display: flex;
        height: 191px;
        flex-direction: row;
        margin-top: 10px;
        margin-bottom: 80px;
    }

    .kontejnerA2 {
        order:1;
    }

    .text-o-sluzbe-A {
        order: 2;
        margin-top: 40px;  
        margin-left: 40px; 
    }

    .text-o-sluzbe-A h2{
        text-align: left; 
    } 



    .kontejnerB {
        display: flex;
        height: 191px;
        flex-direction: row;
        margin-top: 10px;
    }

    .kontejnerB2 {
        order:2;        
    }

    .text-o-sluzbe-B {
        order: 1;
        width: 460px;
        margin-top: 70px;  
        margin-right: 20px;     
    }

    .text-o-sluzbe-B h2 {
        text-align: left; 
    } 

    .text-o-sluzbe-B .naStred {
        width: 430px;        
    }
    
}